<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
<div class="body">
<div class="container-s">
<%const genre=['action','comedy','fiction','romantic','thriller']%>
<%genre.forEach((data,i)=>{%>


    <div class="latest-s wrapper">
        <div class="heading-s">
            <%=data%>
            <span class="more"><i class="fa fa-angle-double-right"></i></span>
        </div>
        <div class="movies-s">
            <%movies[i].trending.forEach((movie)=>{%>
            <a href="<%=`/movies/${movie.id}`%>"> <span class="image-s"><img src=<%=movie.poster%> alt="<%=movie.name%>"  style="height: 350px;width: 220px ;margin-bottom: 20px;"><a href="#" class="moviename-s"><%=movie.title%></a></span></a>

            <%})%>


        </div>
    </div>
    <%})%>

</div>
</div>
<%include partials/footer.ejs%>

