<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <img class="movie-pic" src=<%=movie.poster%>>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
            <div class="movie-heading">
                <strong>Inception</strong>
                <br>
                <div class="movie-genre">
                    Genre-<%=movie.genre.join(",")%>
                </div>
            </div>
            </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div >
                            <div class="progress-circle over50 p88">
                                <span><%=movie.rating%></span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div >
                            <div class="progress-circle over50 p63">

                                <span><%=movie.runtime%></span>
                                <div class="left-half-clipper">

                                    <div class="first50-bar"></div>

                                    <div class="value-bar"></div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="movie-circle3">
                            <div class="progress-circle over50 p80">
                                <span><%=movie.year%></span>

                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
         <div class="movie-summary-heading">
             <div class="line-summary"></div>
             <strong>Summary</strong>
             <div class="line-summary2"></div>
             <div class="movie-summary">
                 <%=movie.story%>
             </div>
         </div>
     </div>
 </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="cast-heading">
                <div class="line-summary"></div>
                <strong>Cast</strong>
                <div class="line-summary1"></div>
            </div>
        </div>
    </div>
        <div class="row">
           <%movie.cast.slice(0,12).forEach((data)=>{%>
            <%if(data.image!="https://images-na.ssl-images-amazon.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB499558849_.png"){%>
            <div class="col-lg-1">
                <img src=<%=data.image%> alt=<%=data.name%> class="img">
               <span style="font-size: 12px;font-weight:300"> <%=data.name%></span>
                <br>
                as<br>
                <span style="font-size: 12px;font-weight:500"> <%=data.role%></span>
            </div>
            <%}})%>
        </div>
    <%var a=Object.keys(movie)%>
    <%a=a.slice(a.length-4,a.length-1)%>
<div class="row">
    <div class="awards">
        <div class="line-summary"></div>
        <strong>Awards
            <strong>
                <div class="line-summary3"></div>
    </div>
</div>
    <div class="row">

        <%a.forEach((data)=>{%>
        <%if(!movie[data][0]){%>
        <div class="col-lg-4">
            <div class="card-container1">
                <div class="card1">
                    <div class="side1">
                      <%=data%>
                    </div>
                    <div class="side1 back1">
                        <br>Won
                        <br><br>
                        <%movie[data].forEach((award)=>{%>
                          <%=award.category%>
                        <br>
                        <br>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <%})%>

    </div>





</div>




<%include partials/footer.ejs%>



